//---------- COLOR ----------//

$main-color: #df561c;
$main-color-lighter: #fac0a7;
$main-color-darker: #c04c1a;
$secondary-color: #f88704;
$secondary-color-darker: #d17711;

$main-text-color: black;
$secondary-text-color: white;
