.slider {
  background-image: url("/image/Slider-11-1.webp");
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 60vh;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.textSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0 15px 20px 0;
  font-size: 1.5em;

  h2 {
    font-size: 1.8em;
  }
  h2,
  .paris {
    color: $main-color;
    text-transform: uppercase;
  }

  h2,
  p {
    padding: 3px 0;
  }
}
